<!DOCTYPE html>
<html ng-app>
<head>
<script type="text/javascript" src="script/angular.min.js"></script>
	<title>
		Expressions
	</title>
</head>
<body>
<p><a href="index.html">Home</a></p>
<hr/>
<div>
	<label>First number</label>
	<input type="number" ng-model="num1" />
	<br />
	<label>Second number</label>
	<input type="number" ng-model="num2" />
	<hr />
	<h1>Sum: {{num1+num2}} </h1>
	<h1>Product: {{num1*num2}}</h1>
</div>
</body>
</html>