<!DOCTYPE html>
<!-- changed the ng app -->
<html>
<head>
<script type="text/javascript" src="script/angular.min.js"></script>
<script type="text/javascript" src="script/app.js"></script>

	<title>
		Module
	</title>
</head>
<body ng-app = "app" ng-controller="MainController as main">
<p><a href="index.html">Home</a></p>
<hr/>
<div>
	<label>First number</label>
	<input type="number" ng-model="main.num1" />
	<br />
	<label>Second number</label>
	<input type="number" ng-model="main.num2" />
	<hr />
	<h1>Sum: {{main.num1 + main.num2}} </h1>
	<h1>Product: {{main.num1 * main.num2}}</h1>
</div>
</body>
</html>