<!-- 6 -->
<!DOCTYPE html>
<!-- changed the ng app -->
<html>
<head>
<script type="text/javascript" src="script/angular.min.js"></script>
<script type="text/javascript" src="script/app.js"></script>

	<title>
		Forms
	</title>
</head>
<body>
<p><a href="index.html">Home</a></p>
<hr/>
<div ng-app = "appRepeat" ng-controller="MainControllerRepeat as mainRepeat">
<h1>FORMS</h1>
<h2>To Do List</h2>
<form>
	Name: <input type="text" ng-model="newtask.name" />
	<input type="submit" ng-click="mainRepeat.add(newtask)" value="Add Task" name=""/>
	<hr /> 
</form>
<ul>
	<li ng-repeat="task in mainRepeat.tasks">
		<input type="checkbox" ng-model="task.done" ng-click="mainRepeat.delete(task)" name=""/>
		<!-- <span ng-hide="task.done">{{task.name}}</span> -->
		<span>{{task.name}}</span>

	</li>
</ul>
</div>
</body>
</html>