<!-- expressions -->
<!DOCTYPE html>
<!-- <html ng-app> -->
<html>
<head>
<script type="text/javascript" src="script/angular.min.js"></script>
<script type="text/javascript" src="script/app.js"></script>

	<title>
		Index, Hello!
	</title>
</head>
<body ng-app="appIndex" ng-controller="MainControllerIndex as mainIndex">
<div>
	<label>Name:</label>
	<input type="text" ng-model="mainIndex.name" />
	<hr>
	<h1>Hello {{mainIndex.name}}! </h1>

	<ul>
		<li><p><a href="index.html">Hello World! (home)</a></p></li>
		<li><p><a href="expressions.html">Expressions (Math)</a></p></li>
		<li><p><a href="expressionWithModule.html">Module (Math)</a></p></li>
		<li><p><a href="expressionBinding.html">Binding (Math)</a></p></li>
		<hr/>
		<li><p><a href="repeat.html">Repeat (List)</a></p></li>
		<li><p><a href="forms.html">Forms (List add/submit)</a></p></li>

	</ul>
</div>
</body>
</html>