<!-- 5 -->
<!DOCTYPE html>
<!-- changed the ng app -->
<html>
<head>
<script type="text/javascript" src="script/angular.min.js"></script>
<script type="text/javascript" src="script/app.js"></script>

	<title>
		Repeat
	</title>
</head>
<body>
<p><a href="index.html">Home</a></p>
<hr/>
<div ng-app = "appRepeat" ng-controller="MainControllerRepeat as mainRepeat">
<h1>Repeat</h1>
<h2>To Do List</h2>
<ul>
	<li ng-repeat="task in mainRepeat.tasks">
		<input type="checkbox" ng-model="task.done" name=""> {{task.name}}
	</li>
</ul>
</div>
</body>
</html>